/* ======================= Global=================== */

li {
  list-style-type: none;
}

html {
  /* height: 100%; */
}

body {
  background-image: url(/imgs/glass.jpeg);
  background-repeat: no-repeat;
  background-size: cover; /* -> fix properties page?? */
  background-color: #627987;
  /* height: 100vh; */
}

label {
  color: #555;
  font-weight: bold;
  margin-bottom: 7px;
  font-size: 0.9em;
}
/* 
h1,
h2 {
  text-transform: uppercase;
  text-shadow: 0 2px 3px red;
  letter-spacing: 3px;
  font-size: 2.2rem;
  font-family: "Indie Flower", cursive;
  border-radius: 10px;
  animation: header 5s ease-in infinite alternate;
} */

/* ======================= Header =================== */
.App {
  text-align: center;
}
.alwaysTop {
  position: absolute;
  top: 5px;
  left: 47%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ======================= Auth ProfileEdit =================== */

.profileEdit {
  background-color: rgba(150, 195, 193, 0.84);
  border: 1px solid transparent;
  margin: 0px auto;
  padding-top: 0px;
  width: 80%;
  border-radius: 10px;
  -webkit-box-shadow: 4px 9px 29px 10px rgba(92, 40, 92, 1);
  -moz-box-shadow: 4px 9px 29px 10px rgba(92, 40, 92, 1);
  box-shadow: 4px 9px 29px 10px rgba(92, 40, 92, 1);
}

/* ======================= addLease =================== */

.addLease {
  background-color: rgba(150, 195, 193, 0.84);
  border: 1px solid transparent;
  margin: 0px auto;
  padding-top: 10px;
  margin-top: 100px;
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 4px 9px 29px 10px rgba(92, 40, 92, 1);
  -moz-box-shadow: 4px 9px 29px 10px rgba(92, 40, 92, 1);
  box-shadow: 4px 9px 29px 10px rgba(92, 40, 92, 1);
}

/* ======================= myProperties =================== */

.myProperties {
  display: flex;

  background-image: url(/imgs/leefs.jpeg);
  background-repeat: no-repeat;
  background-size: cover; /* -> fix properties page?? */
}

.Properties .property-poster {
  z-index: 100;
}

/* ======================= home =================== */
.home {
  background-image: url(/imgs/glass.jpeg);
  background-repeat: no-repeat;
  background-size: cover; /* -> fix properties page?? */
  background-color: #627987;
  height: 100vh;
}

/* ======================= LeasePdf =================== */

.approved {
  color: rgb(225, 248, 17);
  text-shadow: 0 0 2px black;

  font-size: 1em;
}

.pending {
  color: rgb(248, 44, 17);
  text-shadow: 0 0 2px black;

  font-size: 1em;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.signature-container {
  width: 100% !important;
}

.can-wrapper {
  margin: 0 auto;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#customform.customform {
  /* max-height: 100vh !important;
  overflow: hidden; */
  font-size: 0.8rem;
}

#customform > .form-control {
  padding: 0 !important;
}

/* ======================= PropertyDetails=================== */
.property-details {
  background-color: #fff;
  border: 1px solid transparent;
  margin: 0px auto;
  padding: 7px;
  width: 60vw;
}

/* ======================= AddProperty=================== */
.add-property {
  background-color: #fff;
  border: 1px solid transparent;
  margin: 0px auto;
  padding-top: 0px;
  width: 100%;
}
