/* ======================= Global=================== */

nav {
  background-image: linear-gradient(
    to bottom,
    rgb(46, 13, 46),
    rgba(107, 25, 63, 0.8),
    rgba(76, 0, 76, 0.6)
  );
  border-radius: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 5px 15px black;
}

li {
  list-style-type: none;
}

.link,
#navbarDropdown {
  color: #4294b4;
  text-decoration: none;
  background-color: transparent;
}

.link:hover {
  color: #82cce9;
  text-decoration: none;
  background-color: transparent;
}

.user-profile {
  margin-right: 10px;
}
